html{
  padding: 0;
  margin: 0;
  font-size: clamp(14px, 1.4vh + 1rem, 32px); 
}

h1 {
  font-size: 2.5rem; /* 48px */
  font-weight: 700; /* Negrita */
}

h2 {
  font-size: 2.2rem; /* 40px */
  font-weight: 600; /* Seminegrita */
}

h3 {
  font-size: 2rem; /* 32px */
  font-weight: 500; /* Medio */
}

h4 {
  font-size: 1.6rem; /* 28px */
  font-weight: 500; /* Medio */
}

h5 {
  font-size: 1.3rem; /* 24px */
  font-weight: 400; /* Normal */
}

h6 {
  font-size:  0.8rem; /* 20px */
  font-weight: 400; /* Normal */
}
a{
  font-size: 0.8rem; /* 20px */
  font-weight: 700; /* Normal */
  text-decoration: none;
  color: black;
}

p {
  font-size: 0.8rem; /* 16px */
  line-height: 1.5;
  margin: 0 0 20px;
}





:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: #000; /* Color del 'thumb' */
  border-radius: 10px; /* Bordes redondeados */
}

*::-webkit-scrollbar-track {
  background: #f0f0f0; /* Color de fondo del track del scroll */
  border-radius: 10px; /* Bordes redondeados */
}

/* Efecto al pasar el mouse sobre el 'thumb' */
*::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* Color del 'thumb' al pasar el mouse */
}


/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
