
.body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .contenedorForm{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
  }
  .contenedorForm h1{
    margin-bottom: 0;
    margin-top: 0;
  }
  .contenedorForm h6{
    margin-bottom: 0;
    margin-top: 0;
  }
  .contenedortext{
  
    padding: 0 1rem;
    border-radius: 1rem;
    text-align: center;
     max-width: 350px;
     width: 50%;
     min-width: 200px;
     gap: 12px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }
  
  
  form{
  
   
  
  text-align: center;
   width: 100%;
   gap: 12px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
  
  .inputPass{
    position: relative;
    display: flex;
    width: calc(100%);
    flex-direction: row;
    align-items: center;
  
  }
  
  .inputPass img{
    position: absolute;
    right: 0;
    height: 1rem;
    z-index: 10;
    cursor: pointer;
  }
  .decoracion {
    margin: 0;
    
  
  
    font-size: 1rem; /* Tamaño de la letra */
    color: #000000;   /* Color del texto */
    width: 100%;
    text-align: center; /* Centra el texto */
    position: relative; /* Para el posicionamiento de pseudo-elementos */
  }
  
  .decoracion::before,
  .decoracion::after {
    content: ""; /* Necesario para mostrar pseudo-elementos */
    position: absolute; /* Posicionamiento absoluto */
    top: 60%; /* Centra verticalmente */
    width: 47%; /* Extiende hasta el límite del contenedor */
    height: 1px; /* Grosor de la línea */
    background-color: #828282; /* Color de la línea */
  }
  
  .decoracion::before {
    left: 0%; /* Mueve la línea a la izquierda */
    margin-right: 1px; /* Espacio entre la línea y la letra */
  }
  
  .decoracion::after {
    right: 0%; /* Mueve la línea a la derecha */
    margin-left: 1px; /* Espacio entre la línea y la letra */
  }
  
  .loginGoogle {
    position: relative;
    
    display: flex;
    height: 2rem;
    flex-direction: row;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    padding: 0.3rem 1rem;
    background-color: #ffffff;
    color: #000000;
    transition: all 0.1s;
    cursor: pointer;
    align-items: center;
  
  
  }
  .loginGoogle:hover{
    background-color: #eeeeee;
    border: 2px solid rgb(0, 0, 0);
    scale: 1;
  }
  .loginGoogle img{
   height: 100%;
   width: auto;
  }
  .loginGoogle h6{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
  
   }
  
  img{
  
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra toda el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen tanto vertical como horizontalmente */
    height: 100vh; /* Hace que el `body` cubra el 100% de la altura de la ventana */
    width: auto; /* Hace que el `body` cubra el 100% del ancho de la ventana */
    margin: 0; /* Elimina el margen predeterminado */
    display: flex; /* Esto permite alinear el contenido interno si lo deseas */
    flex-direction: column;
    
  }
  h6 a{
    color: #EE2424;
    text-decoration: none;
  }