.ctnArticuloPre {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem 0.8rem 2rem;
    box-shadow: 0 4px 15px rgba(156, 156, 156, 0.2); /* Sombra */
    border-radius: 20px;

}

.ctnArticuloPre h5,
.ctnArticuloPre h6 {
        margin: 0;
        font-weight: 700;
    }

    .ctnArticuloPre  img {
        height: 70%;
        width: auto;
        object-fit: contain;
    }
    .ctnArticuloPre  a {
        font-size: 0.5rem;
    }
    .ctnArticuloPre  span{
       
        display: flex;
        gap: 0.3rem;
    }
    .ctnArticuloPre  div{
        display: flex;
        flex-direction: column;
 
        height: 30%;
       
    }
