button{
    border-radius: 8px;
    width: 100%;
    padding: 0.5rem 1rem 0.6rem ;
    border: none;
    font-weight: 600;
    transition: all .1s;
    font-size: 0.8rem;
    cursor: pointer;
    color: #fff;
}
button:hover{
    scale: 1.1;

}

@media screeb and (max-width: 720px) {
    button{
        
        padding: 0;
        background-color: black;
        
    }

}