header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 4rem;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  
  }
  header h3{
    font-weight: 700;
  }
  
  nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
  
    width: max-content;
    gap: 0 1.5rem ;
    list-style-type: none;
  }
  
  nav a{
    font-weight: 500;
  }
  .contenedorIconos{
    height: 1rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
  
    width: max-content;
    gap: 0 1.5rem ;
    align-items: center;
    
  }
  
  .contenedorIconos a {
    
    height: 100%;
  
  }
  .linkPag, .contenedorRedireccion ul li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     padding: 0.3rem 0.4rem;
     border-radius: 50px;
     transition: all 0.1s ease-in-out;
     line-height: 0.9;

  }
  .linkPag:hover, .contenedorRedireccion ul li:hover{
     background-color: #ececec;

    transform: scale(1.2);
 


 }
  
  .contenedorIconos a img{
    
    height: 100%;
  
  }

  @media screen and (max-width: 720px) {

    header{
      background-color: aqua;
      display: none;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      height: 10vh;
      width: 100vw;
      padding: 0 1rem;
      box-sizing: border-box;
    
    }
    
  }