.ctnGeneral {
  position: relative;
  background-color: transparent
}

.ctnHeader header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 4rem;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  position: relative;
  
background-color: transparent;
}

.ctnHeader header h3 {
  font-weight: 700;
  margin: 0;
  line-height: 1;
  padding-bottom: 0.6rem;
}


.ctnNavegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.ocultar {
  display: none;
}


.contenedorRedireccion ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  gap: 0 1.5rem;
  list-style-type: none;
}

nav a {
  font-weight: 500;
}

.contenedorIconos {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  gap: 0 1.5rem;
  align-items: center;
}

.contenedorIconos a {
  aspect-ratio: 1;
  height: auto;
  width: max-content;
}

.linkPag,
.contenedorRedireccion ul li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.4rem;
  border-radius: 50px;
  transition: all 0.1s ease-in-out;
  line-height: 0.9;
}

.linkPag:hover,
.contenedorRedireccion ul li:hover {
  background-color: #ececec;
  transform: scale(1.2);
}

.contenedorIconos a img {
  height: 1rem;
}



.menuDesplegable {
  width: auto;
  aspect-ratio: 1;
  height: 1.5rem;
  position: absolute;
  right: 0;
  top: 0;

  z-index: 100;
  display: none;
}

.menuDesplegable img {

  height: 100%;
  cursor: pointer;
}

.ocultarElementos{
  display: none;
}

.ctnGeneral {
  position: relative;



}
@media only screen and (max-width: 900px) {

  .ctnGeneral {
    position: relative;
    height: 2.1rem;
    top: 0;


  }





  
  .body {
    height: max-content;
  }

  .ocultarElementos {
    display: block;
  }

  .ctnHeader{
    position: relative;
    width: 100%;
  }

  .ctnHeader header {
    height: max-content;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0;
    /* position: fixed; */
    width: 100%;

    z-index: 10;


    /* background-color: rgba(112, 118, 181, 0.571); */
    background-color: rgba(255, 255, 255, 0.242);


  }


  .ctnHeader header a h3 {
    /* padding-bottom: 0;
    padding: .5rem 0; */
    
  }


  .menuDesplegable{
    display: block;
    position: absolute;
    top: 0;

  }

  .desplegado {
    position: absolute;
    /* O fixed si quieres que siga al usuario al hacer scroll */
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0;
    background-color: rgba(182, 129, 129, 0.571)  ;
    /* background-color: rgba(210, 203, 203, 0.768); */


    /* Fondo semi-transparente */
    z-index: 10;
    /* Superpone el contenido */
  }

  .ctnHeader header h3 {
    font-size: 1.4rem;
  }
  .contenedorRedireccion{
    display: block;
  }

  .ctnNavegacion {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: calc(100vh);
    background-color: red;
    display: none;
  }

  .contenedorRedireccion ul,
  .contenedorIconos {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    justify-content: center;
    align-items: start;
    height: max-content;
    padding: 0;
  }

  .contenedorIconos {
    flex-direction: row;
    text-align: start;
    justify-content: start;
    align-items: start;
    height: 1.5rem;
  }

  .linkOcultar {
    display: none;
  }

}


/* para borrar si no se comprueba su utilidad */
/* @media screen and (max-width: 720px) {
  header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
    padding: 0 1rem;
    box-sizing: border-box;
  
  }
} */