div{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
}

label{
    font-weight: 800;
    color: black;
}

input{
    border: none;
    padding: 0.5rem 0.5rem;
    border-bottom: 2px solid #000000;
   

    background-color: #fff;
    color: #1E1C1C;

     font-weight: 600;
     font-size: 0.8rem;
     cursor: pointer;

}
input::placeholder{
   color: #1e1c1cda;
   
    
}
input:focus{
    cursor: text;
    outline: none; 
}