.ctnInput{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    text-align: start;
    background-color: transparent;
}

.ctnInput label{
    font-weight: 800;
    color: black;
}

.ctnInput input{
    border: none;
    padding: 0.5rem 0.5rem;
    border-bottom: 2px solid #000000;
   

    background-color: transparent;
    color: #1E1C1C;

     font-weight: 600;
     font-size: 0.8rem;
     cursor: pointer;

}
.ctnInput input::placeholder{
   color: #1e1c1cda;
   
    
}
.ctnInput input:focus{
    cursor: text;
    outline: none; 
}